@import '/src/utils/styles.scss';
.board {
    @include border;
    @include scrollbar;
    margin-left: 3px;
    @media (max-width:480px) {
        margin-left: 43px;
    }
    margin-right: 15px;
    padding: 6px;
    overflow-x: scroll;
    overflow-y: scroll;
    flex-grow: 1;

    display: flex;
    gap: 6px;

    .column {
        @include border;
        width: 240px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
}